#intro {
  height: 80vh;
  @media (max-width: 800px){
    height: 90vh;
  }
}
.intro__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px;

  @media (max-width: 800px){
    justify-content: center;
  }

  .intro__title {
    font-family: var(--mainKor-font);
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;

    @media (max-width: 320px){
      display: none;
    }
  }
  .intro__text {
    width: 100%;
    height: 40vh;
    background-color: var(--subBg100);
    color: var(--white);
    -webkit-text-stroke: 2px var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .text {
      opacity: 0;
      font-size: 4vw;
      line-height: 1.4;
      font-weight: 800;
      //text-transform: uppercase;
      //text-decoration: underline;
      text-align: center;
      position: relative;
      z-index: 100;
      transition: all 0.3s;
      cursor: all-scroll;

      @media (max-width: 800px){
        font-size: 24px;
      }
    }
    .img {
      filter: grayscale(0);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 35vh;
      height: 35vh;
      border-radius: 50%;
      overflow: hidden;
      //filter: grayscale(100%);
      transition: all 0.3s;

      @media (max-width: 320px){
        width: 20vh;
        height: 20vh;
      }
    }

    &:hover .text {
      opacity: 100;
    }
    &:hover .img {
      filter: grayscale(100%);
    }
  }
  .intro__lines {
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--subBg100);
      margin-bottom: 0.5vw;

      &:nth-child(1){
        height: 1px;
      }
      &:nth-child(2){
        height: 2px;
      }
      &:nth-child(3){
        height: 5px;
      }
      &:nth-child(4){
        height: 9px;
      }
      &:nth-child(5){
        height: 13px;
      }
      &:nth-child(6){
        height: 17px;
      }
      &:nth-child(7){
        height: 25px;
      }
    }

    &.bottom {
      .line {
        margin-top: 0.5vw;
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px){
          display: block;
        }

        &:nth-child(1){
          height: 25px;
        }
        &:nth-child(2){
          height: 17px;
        }
        &:nth-child(3){
          height: 13px;
        }
        &:nth-child(4){
          height: 9px;
        }
        &:nth-child(5){
          height: 5px;
        }
        &:nth-child(6){
          height: 2px;
        }
        &:nth-child(7){
          height: 1px;
        }
      }
    }
  }
}
