.project__inner {
  padding: 16px;

  .project__title  {
    position: sticky;
    top: 70px;
    left: 0;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 100px;

    @media (max-width: 800px){
      width: 100%;
      margin-bottom: 1vw;
      font-size: 30px;
      height: auto;
      top: 68px;
      z-index: 1000;
      background-color: var(--mainBg-color);
    }

    em {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2;
    }
  }
  .project__wrap {
    .project__item {
      height: 65vh;
      @include flex-center;
      flex-direction: column;
      position: sticky;
      left: 0;
      margin-bottom: 100px;


      .project__itembox::after{
        content:"";
        opacity:0.7;
        position:absolute;
        top:0px;
        left:0px;
        bottom:0px;
        right:0px;
        z-index: -1;
        border-radius: 30px;
      }
      .project__itembox{
        @include flex-center;
        flex-direction: column;
        position: sticky;
        width: 95%;
        height: 85%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        //background-attachment: fixed;
        border-radius: 30px;
        z-index: -1;
        .text {
          text-align: center;
          margin-bottom: 1rem;

          > div {
            font-size: 3vw;
            line-height: 1.5;
            text-transform: uppercase;
            //text-decoration: underline;
            font-family: var(--mainKor-font);

            @media (max-width: 800px){
              font-size: 20px;
            }
          }
        }
        .title {
          font-size: 4vw;
          font-weight: 900;
          font-family: var(--mainKor-font);
          margin-bottom: 1rem;
        }
        .btn {
          a {
            text-decoration: underline;
            text-transform: uppercase;
            color: var(--black200);
            font-size: 1rem;
            transition: all 0.3s;
            margin: 0 2px;

            &:hover {
              color: var(--black);
            }
          }
        }
        .info {
          position: absolute;
          left: 0;
          bottom: 5%;
          width: 98%;
          margin-left: 1%;
          border-top: 1px solid var(--black);
          border-bottom: 1px solid var(--black);
          display: flex;
          justify-content: space-between;

          .period{
            @media (max-width: 800px){
              display: none;
            }
          }
          @media (max-width: 800px){
            width: 90%;
            margin-left: 5%;
            padding: 5px 0;
            display: flex;
            justify-content: space-between;
          }

          span {
            font-family: var(--mainKor-font);
            font-size: 12px;
            padding: 3px 0;
            text-transform: uppercase;
            width: 33%;
            @media (max-width: 800px){
              font-size: 9px;
            }

            &:nth-child(1){
              text-align: left;
              @media (max-width: 800px){
                width: 30%;
              }
            }
            &:nth-child(2){
              text-align: center;
            }
            &:nth-child(3){
              text-align: right;
              @media (max-width: 800px){
                width: 70%;
              }
            }
          }
        }
      }


      &.s1 {
        background-color: var(--subBg100);
        top: 180px;
        .project__itembox::after{
          background-color: var(--subBg100);
        }

        @media (max-width: 800px){
          top: 140px;
        }
      }
      &.s2 {
        background-color: var(--subBg200);
        top: 220px;
        .project__itembox::after{
          background-color: var(--subBg200);
        }

        @media (max-width: 800px){
          top: 160px;
        }
      }
      &.s3 {
        background-color: var(--subBg300);
        top: 260px;
        .project__itembox::after{
          background-color: var(--subBg300);
        }

        @media (max-width: 800px){
          top: 180px;
        }
      }
      &.s4 {
        background-color: var(--subBg400);
        top: 300px;
        .project__itembox::after{
          background-color: var(--subBg400);
        }

        @media (max-width: 800px){
          top: 200px;
        }
      }
      .num {
        font-size: 5vw;
        line-height: 1;
        font-weight: 900;
        font-family: var(--mainNum-font);
        position: absolute;
        left: 1vw;
        top: 1vw;

        @media (max-width: 800px){
          font-size: 50px;
          left: 20px;
          top: 20px;
        }
      }
    }
  }
}
